<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <h3>Información General</h3>
        <div class="campo">
            <label>Título</label>
            <input type= "text" value={{vacante.titulo}} name="titulo" placeholder=
            "Ej: React Developer" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" value={{vacante.empresa}} name="empresa" placeholder=
            "Empresa contrata" required>
        </div>
        <div class="campo">
            <label>ubicacion</label>
            <input type="text" value="{{vacante.ubicacion}}" name="ubicacion" placeholder=
            "Ej: España o remoto" required>
        </div><div class="campo">
            <label>Salario(USD)</label>
            <input type="text" value="{{vacante.salario}}" name="salario" placeholder=
            "Ej: 500 USD" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                <!--viene del fichero ../helpers/handlebars-->
                {{#tipoContrato vacante.contrato}}
                   <option value="" disabled selected>--Seleciona--</option>
                   <option value="freelance">Freeland</option>
                   <option value="tiempo completo">Tiempo Completo</option>
                   <option value="medio">Medio Tiempo</option>
                   <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>
            <h3>Descripción del Puesto</h3>
            <div class="campo descripcion">
                <label>Descripcion</label>
                <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
            <h3>Conocimientos</h3>

            <ul class="lista-conocimientos">
                <!--viene del fichero ../helpers/handlebars-->
                {{#seleccionarSkills vacante.skills }}
                {{/seleccionarSkills}}
            </ul>

            <div class="campo centrar-horizontal">
                <input type="hidden" name="skills" id="skills">
                <input type="submit" value="Guardar Cambios" class="btn btn-azul">  
            </div>
    </form>
</main>