<main class="lista-vancantes">
    <h2>Lista de Vacantes</h2>
    <!--si tiene registros la bbdd-->
  
    {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{this.empresa}}</h3>
                    <p class="puesto">{{this.titulo}}</p>
                </div>
                 <div class="caja">
                    <p class="etiqueta">Ubicación</p>
                    <p class="nombre">{{this.ubicacion}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato</p>
                    <p class="nombre contrato">{{this.contrato}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/vacantes/{{this.url}}"class="btn btn-verde">Más info</a>
                </div> 
            </div>
        {{/each}}
    {{else}}
        <p>no hay vacantes</p>
    {{/if}}
</main>